body {padding: 60px 20px;}
#search-form {margin:0px;}
#result-summary{margin-bottom:20px;}
html { overflow-y: scroll; } /*force scrollbar*/
.facet, .chosen-facet {
    margin-bottom:20px; overflow: hidden; white-space: nowrap; 
}
.nav-title{text-transform:uppercase;font-weight:bold}
.entry { margin-bottom: 10px; }